@page
@{
    Layout = null;
    ViewData["Title"] = "ChatGeneral";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana del Proyecto</title>
    <link rel="stylesheet" href="/css/fileModuleStyles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/5956/5956494.png" alt="Project Icon" class="icon"></a>
            <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/5073/5073264.png" alt="DetailsProyect Icon" class="icon"></a>
            <a href="/ActivitiesModule"><img src="https://cdn-icons-png.flaticon.com/512/7891/7891841.png" alt="Task Icon" class="icon"></a>
            <a href="/FileModule"><img src="https://cdn-icons-png.flaticon.com/512/14779/14779557.png" alt="Download Icon" class="icon"></a>
            <a href="/ProjectProgressModule"><img src="https://cdn-icons-png.flaticon.com/512/7185/7185654.png" alt="Reports Icon" class="icon"></a>
            <a href="/Login"><img src="https://cdn-icons-png.flaticon.com/512/1716/1716282.png" alt="Exit Icon" class="icon"></a>
        </div>
        <div class="main-content">
            <div class="header">
                <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/4885/4885344.png" alt="Back Arrow" class="back-arrow"></a>
                <span class="project-title">Nombre del proyecto</span>
                <button onclick="location.href='/ProjectForm'" class="details-button">Ver detalles</button>
            </div>
            <div class="content">
            </div>
        </div>
    </div>
</body>
</html>