@page
@model ProjectFormModel
@using TeamsHubWebClient.DTOs
@using TeamsHubWebClient.SinglentonClasses;

<style>
    body {
        font-family: Arial, sans-serif;
        background: url(/images/Background2.jpeg) no-repeat center center fixed;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        background-color: #1d1c1c;
        color: white;
        border-radius: 40px;
        width: 62cm;
        height: 21cm;
        font-size: 20px;
        box-sizing: border-box;
    }

    #back-arrow {
        width: 65px;
        cursor: pointer;
        margin-top: 1cm;
        margin-bottom: -56px;
        margin-left: 22px;
    }

    h2 {
        margin-top: 6px;
        margin-left: 112px;
        font-weight: bold;
        margin-bottom: 2cm;
        font-size: 34px;
    }

    .form-control {
        display: block;
        width: 1275px;
        padding: .375rem .75rem;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        background-color: #1c1c1c;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-size: 24px;
        display: block;
        margin-bottom: 18px;
    }

    input[type="text"],
    input[type="date"] {
        width: calc(100% - 20px);
        background: #1c1c1c;
        color: white;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font-size: 22px;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .search-bar {
        display: flex;
        align-items: center;
    }

    #user-email {
        flex: 1;
    }

    #search-icon {
        width: 24px;
        cursor: pointer;
        margin-left: 10px;
    }

    #user-list {
        margin-top: 20px;
    }

    .user-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
    }

    .user-item img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .sidebar {
        width: 80px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
    }

    .btn-primary {
        height: 63px;
        width: 269px;
        border-radius: 40px;
        color: #fff;
        margin-top: 23px;
        margin-left: 26.5cm;
        background-color: #000;
        border-color: #000;
        font-size: 25px;
    }

    .sidebar .icon {
        width: 55px;
        height: 55px;
        margin-bottom: 30px;
        margin-left: 5px;
        cursor: pointer;
    }
</style>


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Proyecto</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="sidebar">
        <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/5956/5956494.png" alt="Project Icon"
                class="icon"></a>
        <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/5073/5073264.png" alt="DetailsProyect Icon"
                class="icon"></a>
        <a href="/ActivitiesModule"><img src="https://cdn-icons-png.flaticon.com/512/7891/7891841.png" alt="Task Icon"
                class="icon"></a>
        <a href="/FileModule"><img src="https://cdn-icons-png.flaticon.com/512/14779/14779557.png" alt="Download Icon"
                class="icon"></a>
        <a href="/ProjectProgressModule"><img src="https://cdn-icons-png.flaticon.com/512/7185/7185654.png"
                alt="Reports Icon" class="icon"></a>
        <a href="/Login"><img src="https://cdn-icons-png.flaticon.com/512/1716/1716282.png" alt="Exit Icon"
                class="icon"></a>
    </div>

    <div class="container">
        <img src="https://cdn-icons-png.flaticon.com/512/4885/4885344.png" id="back-arrow" onclick="location.href='/'">
        <h2>Crear nuevo proyecto</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="project-id" name="projectDTO.Id" asp-for="projectDTO.IdProject" />
            <input type="hidden" id="project-id-student" name="projectDTO.IdStudent" asp-for="projectDTO.IdStudent" />

            <div class="form-group">
                <label asp-for="projectDTO.Name">Nombre del Proyecto</label>
                <input asp-for="projectDTO.Name" class="form-control" />
                <span asp-validation-for="projectDTO.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="projectDTO.StartDate">Fecha de inicio del proyecto</label>
                <input asp-for="projectDTO.StartDate" class="form-control" type="date" />
                <span asp-validation-for="projectDTO.StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="projectDTO.EndDate">Fecha limite del proyecto</label>
                <input asp-for="projectDTO.EndDate" class="form-control" type="date" />
                <span asp-validation-for="projectDTO.EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="projectDTO.Status">Estado</label>
                <select asp-for="projectDTO.Status" class="form-control" id="project-status">
                    <option value="Activo">Activo</option>
                    <option value="Terminado">Terminado</option>
                </select>
                <span asp-validation-for="projectDTO.Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="user-email">Agregar Integrantes</label>
                <div class="search-bar">
                    <input type="text" id="user-email" name="user-email" placeholder="Ingresar correo del usuario"
                        class="form-control">
                    <img src="https://cdn-icons-png.flaticon.com/512/751/751381.png" alt="Buscar" id="search-icon"
                        onclick="searchUser()">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

        <div id="user-list">
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>



<script>
    document.addEventListener('DOMContentLoaded', () => {
        const users = [
            { email: 'miguel@example.com', name: 'Miguel Angel Camo Rincón' },
            { email: 'juan@example.com', name: 'Juan Perez' },
            { email: 'maria@example.com', name: 'Maria Gomez' }
        ];

        window.searchUser = function () {
            const emailInput = document.getElementById('user-email').value;
            const userList = document.getElementById('user-list');
            userList.innerHTML = '';

            const filteredUsers = users.filter(user => user.email.includes(emailInput));

            filteredUsers.forEach(user => {
                const userItem = document.createElement('div');
                userItem.classList.add('user-item');

                const userImg = document.createElement('img');
                userImg.src = 'https://cdn-icons-png.flaticon.com/512/3135/3135755.png';
                userImg.alt = 'User Image';

                const userName = document.createElement('span');
                userName.textContent = user.name;

                userItem.appendChild(userImg);
                userItem.appendChild(userName);

                userList.appendChild(userItem);
            });
        };
    });

</script>
