body {
    background-image: url('/wwwroot/images/fondo.jpg'); /* Ajusta el nombre y la ruta de la imagen */
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
    background-position: center; /* Para centrar la imagen */
}

